div {
  margin: 0.5rem;
  display: flex;
  flex-direction: column;
  h1,
  p {
    margin: 1rem 0;
  }
}
.buttons {
  display: flex;
  align-items: center;
  button {
    width: 80%;
    margin: 0.3rem;
  }
}
@media (min-width: 768px) {
  * {
    font-size: calc(100% + 0.7rem);
  }
  div {
    width: 60%;
    margin: 0 auto;
  }
  .buttons {
    flex-direction: row;
    margin: 0;
    width: 100%;
    button {
      width: 100%;
      margin: 1rem;
    }
  }
}
