.formProduct {
  width: 80%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  input,
  select,
  div {
    margin: 0.5rem;
  }
  .divButton {
    margin: 0.5rem auto;
  }
}
@media (min-width: 768px) {
  .formProduct {
    width: 50%;
  }
}
