<div class="show-mobile">
  <div>
    <button (click)="toggleMenu()">
      <img src="./assets/svg/icon_menu.svg" alt="menu" />
    </button>
    <a (click)="goToHome()">
      <img src="./assets/svg/logo_yard_sale.svg" alt="logo" />
    </a>
    <div class="cart">
      <a (click)="goToHome()">
        <img src="./assets/svg/icon_shopping_cart.svg" alt="logo" />
      </a>
      <span class="counter">{{ counter }}</span>
    </div>
  </div>
  <div class="side-menu" [class.active]="activeMenu">
    <button (click)="toggleMenu()">Close</button>
    <ul>
      <li><a (click)="goToAll()">All</a></li>
      <li><a (click)="goToClothes()">Clothes</a></li>
      <li><a (click)="goToElectronics()">Electronics</a></li>
      <li><a (click)="goToDownload()">Download</a></li>
    </ul>
    <div class="account">
      <button *ngIf="!profile; else elseBlock" (click)="login()">Login</button>
      <button *ngIf="profile" (click)="logOut()">Logout</button>
      <ng-template #elseBlock> {{ profile?.email }} </ng-template>
    </div>
  </div>
</div>
<div class="hide-mobile">
  <div>
    <nav>
      <a class="logo" (click)="goToHome()">
        <img src="./assets/svg/logo_yard_sale.svg" alt="logo" />
      </a>
      <ul>
        <li><a (click)="goToAll()">All</a></li>
        <li><a (click)="goToClothes()">Clothes</a></li>
        <li><a (click)="goToElectronics()">Electronics</a></li>
        <li><a (click)="goToDownload()">Download</a></li>
      </ul>
    </nav>
    <div class="info">
      <div class="account">
        <button *ngIf="!profile; else elseBlock" (click)="login()">
          Login
        </button>
        <button *ngIf="profile" (click)="logOut()">Logout</button>
        <ng-template #elseBlock> {{ profile?.email }} </ng-template>
      </div>
      <div class="cart">
        <a (click)="goToHome()">
          <img src="./assets/svg/icon_shopping_cart.svg" alt="logo" />
        </a>
        <span class="counter">{{ counter }}</span>
      </div>
    </div>
  </div>
</div>
